body,
ul,
a {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat';
  font-size: 0.875rem;
  color: rgba(31, 32, 65, 0.5);
  list-style: none;
  text-decoration: none;
  outline: none; }

p {
  margin: 0; }

h1 {
  font-size: 1.5rem;
  line-height: 1.875rem; }

h2 {
  font-size: 1.1875rem;
  line-height: 1.5rem; }

h3 {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  font-family: 'MontserratBold';
  font-weight: bold;
  text-transform: uppercase;
  color: #1F2041;
  opacity: 0.75; }

main {
  margin: 0 auto;
  width: 100%;
  display: flex;
  background: #fff;
  flex-wrap: wrap; }

.flex {
  display: flex;
  margin: 1.25rem 0 0 0; }
  .flex form {
    margin: 0.625rem; }

.loginPageBody {
  width: 100%; }

.loginPageBody__wrapper {
  max-width: 90rem;
  margin: 0 auto; }

.loginPageBody__bg {
  display: flex;
  justify-content: center;
  background: url(./img/loginPageBg.jpg) no-repeat center bottom;
  background-size: cover;
  padding: 10.0625rem 0 10.125rem 0; }

@media screen and (max-width: 500px) {
  .loginPageBody__bg .card.loginAccount {
    width: 18.75rem;
    padding: 0.438rem 0.875rem 0.875rem 0.875rem; }
    .loginPageBody__bg .card.loginAccount input {
      width: 17rem;
      font-size: 0.875rem; } }

header {
  background: #fff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  height: 4.375rem;
  width: 100%;
  margin: 0px 0 0 0;
  display: flex;
  padding: 0.1875rem 0 0 0;
  box-sizing: border-box; }
  header .wrapper {
    padding: 0.75rem 0 0 0; }

.wrapper {
  margin: 0 auto;
  width: 72.4375rem;
  display: flex;
  justify-content: space-between; }
  .wrapper .header__logo {
    display: inline; }
    .wrapper .header__logo img {
      max-width: 100%;
      max-height: 100%; }

.headerButtons__main {
  margin: 0 auto;
  min-width: 72.4375rem;
  display: flex;
  justify-content: space-between;
  padding: 0.6875rem 0.125rem 0 0; }

.header__nav-but-wrap {
  display: flex; }

.headerButtons__mainMenu {
  list-style: none;
  margin: 0.7rem 3rem 0 0rem;
  padding: 0; }
  .headerButtons__mainMenu li {
    display: inline-block;
    margin: 0 0 0 1.4375rem;
    position: relative; }
  .headerButtons__mainMenu li a {
    font-size: 0.875rem;
    color: rgba(31, 32, 65, 0.5); }
  .headerButtons__mainMenu li:nth-child(2) a::after {
    content: '';
    display: inline-block;
    width: 1.0625rem;
    height: 1.0625rem;
    background: url(./img/arrowDown.svg) no-repeat;
    position: absolute;
    top: -0.1875rem;
    left: 2.8rem;
    opacity: 0.5; }
  .headerButtons__mainMenu li:nth-child(5) a::after {
    content: '';
    display: inline-block;
    width: 1.0625rem;
    height: 1.0625rem;
    background: url(./img/arrowDown.svg) no-repeat;
    position: absolute;
    top: -0.1875rem;
    left: 5.6rem;
    opacity: 0.5; }
  .headerButtons__mainMenu li.active a {
    font-family: 'MontserratBold';
    color: rgba(31, 32, 65, 0.75); }

.headerButtons__buttons {
  position: relative;
  z-index: 0;
  padding: 0.6875rem 0 0 0; }
  .headerButtons__buttons a:nth-child(2) {
    margin: 0 0 0 1.3125rem; }

.btn {
  height: 2.125rem;
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'MontserratBold';
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 1.375rem; }

@media screen and (max-width: 1180px) {
  .wrapper {
    margin: 0 auto;
    width: auto;
    display: flex;
    justify-content: space-between; }
    .wrapper .header__logo {
      display: inline; }
      .wrapper .header__logo img {
        max-width: 100%;
        max-height: 100%; } }

@media screen and (max-width: 1180px) {
  .headerButtons {
    padding: 0.1875rem 15px 0 15px; } }

@media screen and (max-width: 850px) {
  .headerButtons {
    padding: 0.1875rem 0 24px 0;
    height: 100%; }
  .wrapper {
    flex-direction: column;
    align-items: center; }
    .wrapper .header__logo {
      align-self: center; }
  .header__nav-but-wrap {
    flex-direction: column; }
  .headerButtons__buttons {
    padding: 1rem 0 0 0;
    align-self: center; } }

@media screen and (max-width: 500px) {
  nav {
    text-align: center; } }

footer {
  width: 100%; }

.footer-big {
  width: 100%;
  background: #fff;
  box-shadow: 0rem 0.0625rem 0rem rgba(31, 32, 65, 0.1);
  margin: 0px 0 0 0;
  padding: 100px 0 0rem 0rem;
  display: flex;
  position: relative;
  border: 0.0625rem solid #f4f4f6; }

.footer-big > .wrapper {
  flex-wrap: wrap; }

.footer-big__main {
  display: flex;
  padding: 0.0625rem 0 5.69rem 0;
  justify-content: space-between;
  width: 100%; }

.footer-big__logo {
  max-width: 16.25rem; }
  .footer-big__logo p {
    font-family: 'Montserrat';
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: rgba(31, 32, 65, 0.75);
    letter-spacing: -0.1008px;
    margin: 0.75rem 0 0 0; }

.footer-big__menus {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap; }

.footer-big__list {
  margin: 0 0rem 0 0; }
  .footer-big__list ul {
    margin: 0.625rem 0 0 0; }
  .footer-big__list li {
    line-height: 2.375rem; }

.footer-big__support {
  margin: 0 1.3125rem 0 2.0625rem; }

.footer-big__nav {
  margin: 0 0rem 0 0.5625rem; }

.footer-big__headline {
  font-family: 'MontserratBold';
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  text-transform: uppercase;
  color: #1F2041;
  margin: 0.28rem 0 0 0; }

.footer-big__subscribe p {
  margin: 1.25rem 0 0 0;
  line-height: 1.375rem; }

.footer-big__subscribe h3 {
  letter-spacing: -0.0375rem; }

.footer-big__copyright {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4.375rem; }
  .footer-big__copyright p {
    padding: 1.6875rem 0 0 0;
    letter-spacing: -0.0063rem;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    color: rgba(31, 32, 65, 0.75); }

.footer-big::after {
  width: 100%;
  content: '';
  display: block;
  position: absolute;
  height: 0.125rem;
  background: #f4f4f6;
  bottom: 4.375rem; }

.footer-big__social {
  padding: 1.5625rem 0 0 0; }

.footer-big__twitter,
.footer-big__facebook,
.footer-big__instagram {
  display: inline-block;
  width: 1.375rem;
  height: 1.375rem;
  background: url(./img/css_sprites.png) no-repeat;
  margin: 0 1.375rem 0 0; }

.footer-big__twitter {
  background: url(./img/css_sprites.png) no-repeat -0.625rem -3.25rem; }

.footer-big__facebook {
  background: url(./img/css_sprites.png) no-repeat -0.625rem -0.625rem; }

.footer-big__instagram {
  background: url(./img/css_sprites.png) no-repeat -3.25rem -0.625rem;
  margin: 0; }

@media screen and (max-width: 1180px) {
  .footer-big > .wrapper {
    padding: 20px 20px 10px 20px; } }

@media screen and (max-width: 850px) {
  .footer-big {
    padding: 0; }
  .footer-big__main {
    flex-wrap: wrap; }
  .footer-big__menus {
    order: 9;
    margin: 26px 0 0 0;
    justify-content: space-between; }
  .footer-big__subscribe {
    margin: 26px auto;
    text-align: center; }
    .footer-big__subscribe .formEmail {
      margin: 25px auto 0; }
  .footer-big__logo {
    text-align: center;
    max-width: 100%; } }

@media screen and (max-width: 550px) {
  .footer-big__menus {
    justify-content: space-around; }
  .footer-big > .wrapper {
    padding: 20px 20px 15px 20px; }
  .footer-big__copyright {
    flex-wrap: wrap;
    justify-content: center;
    height: 5rem; }
    .footer-big__copyright p {
      text-align: center;
      padding: 2rem 0 0 0; }
  .footer-big__social {
    padding: 0.563rem 0 0 0; } }

.card {
  width: 23.75rem;
  padding: 2.4375rem 1.875rem 1.875rem 1.875rem;
  background: #fff;
  border: 0.0625rem solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0rem 0rem 1.5625rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  z-index: 1; }
  .card h1 {
    font-family: 'MontserratBold';
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: #1F2041;
    margin: 0 0 1.25rem 0;
    letter-spacing: -0.025rem; }
  .card .btnBorder {
    margin: 0.125rem 0 0 2.25rem;
    width: 6rem;
    height: 2.5rem;
    box-sizing: border-box;
    display: inline-block;
    line-height: 1.625rem; }
  .card .haveAccount {
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #000; }

.loginAccount .flex {
  margin: 0rem 0 0.25rem 0; }

.loginAccount .haveAccount {
  margin: 0.8125rem 0 0rem 0; }

.loginAccount input {
  margin: 0 0 0.625rem 0; }

.loginAccount input[type="password"] {
  margin: 0 0 1.25rem 0; }

.loginAccount .btnLong {
  margin: 0 0 1.875rem 0; }

.loginAccount .btnBorder {
  margin: 0.125rem 0rem 0rem 3.6875rem;
  width: 5.9375rem;
  height: 2.625rem;
  box-sizing: border-box;
  display: inline-block;
  line-height: 1.6875rem; }

@font-face {
  font-family: 'Montserrat';
  src: url(./fonts/montserrat-regular/montserrat-regular.eot);
  src: url(./fonts/montserrat-regular/montserrat-regular.woff) format("woff"), url(./fonts/montserrat-regular/montserrat-regular.ttf) format("truetype"), url(./fonts/montserrat-regular/montserrat-regular.svg) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MontserratBold';
  src: url(./fonts/montserrat-Bold/montserrat-Bold.eot);
  src: url(./fonts/montserrat-Bold/montserrat-Bold.woff) format("woff"), url(./fonts/montserrat-Bold/montserrat-Bold.ttf) format("truetype"), url(./fonts/montserrat-Bold/montserrat-Bold.svg) format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'quicksand';
  src: url(./fonts/Quicksand-regular/Quicksand-regular.eot);
  src: url(./fonts/Quicksand-regular/Quicksand-regular.woff) format("woff"), url(./fonts/Quicksand-regular/Quicksand-regular.ttf) format("truetype"), url(./fonts/Quicksand-regular/Quicksand-regular.svg) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'quicksandBold';
  src: url(./fonts/Quicksand-bold/Quicksand-bold.eot);
  src: url(./fonts/Quicksand-bold/Quicksand-bold.woff) format("woff"), url(./fonts/Quicksand-bold/Quicksand-bold.ttf) format("truetype"), url(./fonts/Quicksand-bold/Quicksand-bold.svg) format("svg");
  font-weight: normal;
  font-style: normal; }

.btnBorder {
  position: relative;
  color: #BC9CFF;
  padding: 0.55em 1.5em;
  background: #fff; }

.btnBorder::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -0.125rem;
  right: -0.125rem;
  bottom: -0.125rem;
  left: -0.125rem;
  border-radius: 1.375rem;
  background: linear-gradient(to bottom, #BC9CFF, #8BA4F9); }

.btnBorder:hover::before,
.btnBorder:active::before {
  opacity: 0.5; }

.btnFill {
  padding: 0.625rem 1.1875rem; }

.btnFill:hover,
.btnFill:active {
  opacity: 0.5; }

.btnLong {
  width: 20rem;
  height: 2.75rem;
  display: inline-block;
  text-align: center;
  background: url(./img/arrow_forward.png) no-repeat right 13px center, linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  padding: 0.9375rem 0 0 0; }
  .btnLong:hover, .btnLong:active {
    opacity: 0.5; }

@media screen and (max-width: 550px) {
  .btnLong {
    width: 17rem; } }

.formEmail {
  width: 260px;
  height: 44px;
  border: 0.0625rem solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 0.25rem;
  background: #fff;
  margin: 25px 0 0 0; }
  .formEmail input[type="email"] {
    border: none;
    padding: 0rem  0 4px 15px;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    outline: none;
    vertical-align: middle;
    font-family: 'Montserrat'; }
  .formEmail input:focus::placeholder {
    color: rgba(31, 32, 65, 0); }
  .formEmail input[type="submit"] {
    background: url(./img/arrowInput.svg) no-repeat;
    border: none;
    outline: none;
    margin: 0.8125rem 0 0 0.6875rem;
    width: 1.125rem;
    height: 1.125rem; }
  .formEmail input[type="submit"]:hover {
    cursor: pointer; }

.textfield {
  width: 20rem;
  height: 2.75rem;
  background: #fff;
  border: 0.0625rem solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 0.25rem;
  font-family: 'Montserrat';
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: rgba(31, 32, 65, 0.25);
  padding: 0 0 0 0.9375rem; }

.textfield:hover,
.textfield:focus {
  border: 0.0625rem solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.75); }

.textfield:focus::placeholder {
  opacity: 0; }

