body,
ul,
a {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat';
  font-size: 0.875rem;
  color: rgba(31, 32, 65, 0.5);
  list-style: none;
  text-decoration: none;
  outline: none; }

p {
  margin: 0; }

h1 {
  font-size: 24px;
  line-height: 30px; }

h2 {
  font-size: 19px;
  line-height: 24px;
  font-family: 'MontserratBold';
  color: #1F2041; }

h3 {
  font-size: 12px;
  line-height: 15px;
  font-family: 'MontserratBold';
  font-weight: bold;
  text-transform: uppercase;
  color: #1F2041;
  opacity: 0.75; }

main {
  margin: 0 auto;
  width: 100%;
  display: flex;
  background: #fff;
  flex-wrap: wrap; }

.flex {
  display: flex;
  margin: 20px 0 0 0; }
  .flex form {
    margin: 10px; }

.roomDetailBody {
  width: 100%;
  background: #fff; }
  .roomDetailBody h2 {
    margin: 0;
    letter-spacing: -0.0313rem; }

.roomDetailBody__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.roomDetailBody__images {
  width: 90rem;
  height: 30.3125rem;
  margin: 0 auto 4.375rem auto;
  display: flex; }

.roomDetailBody__bigImg {
  background: url(./img/roomDetailBig.jpg) no-repeat center;
  width: 60%;
  background-size: cover; }

.roomDetailBody__smallImg {
  width: 40%;
  display: flex;
  flex-direction: column; }

.roomDetailBody__topImg {
  background: url(./img/roomDetailSmall-1.jpg) no-repeat center;
  max-width: 100%;
  height: 50%;
  background-size: cover; }

.roomDetailBody__bottomImg {
  background: url(./img/roomDetailSmall-2.jpg) no-repeat center;
  width: 100%;
  max-width: 100%;
  height: 50%;
  background-size: cover; }

.roomDetailBody__content {
  margin: 0 auto;
  width: 100%;
  display: flex; }

.roomDetailBody__leftSide {
  width: 68%; }

.roomDetailBody__top {
  display: flex; }

.roomDetailBody__pieChart {
  margin: 0 0 0 4.0625rem; }
  .roomDetailBody__pieChart h2 {
    margin: 0 0 1.3125rem 0; }

.roomDetailBody__reviews {
  margin: 0.8125rem 0 0 0; }

.roomDetailBody__reviewsHeadline {
  display: flex;
  justify-content: space-between; }
  .roomDetailBody__reviewsHeadline h2 {
    margin: 0 0 1.25rem 0; }
  .roomDetailBody__reviewsHeadline p {
    margin: 0.3125rem 4.3125rem 0 0; }

.roomDetailBody__lists {
  display: flex;
  padding: 0.625rem 0 0 0rem; }

.roomDetailBody__bullet {
  width: 46.3%; }
  .roomDetailBody__bullet h2 {
    margin: 0 0 1.0625rem 1.25rem; }

.roomDetailBody__cancel {
  width: 53.7%; }
  .roomDetailBody__cancel h2 {
    margin: 0 0 1.0625rem 0; }

.roomDetailBody__cancelText {
  font-family: 'Montserrat';
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: rgba(31, 32, 65, 0.75);
  width: 78%; }

.roomDetailBody__bottom {
  margin: 0 0 3.875rem 0; }

@media screen and (max-width: 1200px) {
  .roomDetailBody__rightSide {
    width: auto;
    margin: 0 2% 0 0; }
  .roomDetailBody__leftSide {
    width: auto; }
  .roomDetailBody__top {
    flex-wrap: wrap;
    justify-content: center; }
  .roomDetailBody__reviews {
    margin: 0.8125rem 0 0 2rem; }
  .roomDetailBody__lists {
    padding: 0.625rem 0 0 2rem;
    flex-wrap: wrap; }
  .roomDetailBody__bullet {
    width: auto; }
  .roomDetailBody__cancel {
    width: 43.7%; } }

@media screen and (max-width: 900px) {
  .roomDetailBody__images {
    margin: 0 auto 1.375rem auto; }
  .roomDetailBody__content {
    flex-wrap: wrap; }
  .roomDetailBody__lists {
    justify-content: space-around; }
  .roomDetailBody__rightSide {
    margin: 0 auto 5% auto; }
  .roomDetailBody__bottom {
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 750px) {
  .roomDetailBody__bigImg {
    width: 100%; }
  .roomDetailBody__smallImg {
    display: none; } }

@media screen and (max-width: 500px) {
  .roomDetailBody__lists {
    justify-content: center; }
  .roomDetailBody__cancel {
    width: auto;
    margin: 0 5%; }
  .roomDetailBody__pieChart {
    margin: 0; }
  .roomDetailBody__reviews {
    margin: 20px 5%; }
  .card.roomDetail {
    width: 18.75rem;
    padding: 0.438rem 0.875rem 0.875rem 0.875rem; }
    .card.roomDetail h1 {
      font-size: 1.1rem;
      text-align: center; }
    .card.roomDetail .dataDropdown input {
      width: 7.375rem;
      height: 2.75rem;
      font-size: 0.675rem;
      color: rgba(31, 32, 65, 0.75);
      background: #fff url(./img/arrowDown.svg) no-repeat 5.5rem 0.6875rem; }
    .card.roomDetail input[name="guest"] {
      width: 17rem;
      font-size: 0.875rem; }
    .card.roomDetail .btnLong {
      width: 17rem; }
  .roomDetail .roomDetail__priceTable {
    margin: 20px auto; }
  .roomDetail .roomDetail__priceTable .roomDetail__leftCol {
    text-align: left;
    width: 11.375rem; }
  .datepicker--content {
    padding: 5px 7px 0 9px !important; }
  .datepicker--cell {
    height: 34px !important; }
  .datepicker {
    width: 280px !important;
    height: 320px !important; }
  div.guest.parent {
    min-width: 17rem !important; }
  .datepicker.-bottom-left-.-from-bottom-.active {
    left: 26px !important; }
  .landingBody__bottomText {
    display: none; } }

.pieChart {
  display: flex;
  width: 19.4375rem;
  justify-content: space-between; }

.pieChart__legend {
  margin: 1.625rem 0 0 0; }
  .pieChart__legend .pieChart__Ellips {
    font-family: 'Montserrat';
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: rgba(31, 32, 65, 0.75);
    position: relative; }
  .pieChart__legend .pieChart__Ellips::before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 0.625rem;
    height: 0.625rem;
    top: 0.4375rem;
    left: -1rem;
    border-radius: 50%;
    background: linear-gradient(to bottom, #BC9CFF, #8BA4F9); }
  .pieChart__legend .pieChart__Ellips-orange::before {
    background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%); }
  .pieChart__legend .pieChart__Ellips-green::before {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%); }
  .pieChart__legend .pieChart__Ellips-black::before {
    background: linear-gradient(180deg, #919191 0%, #3D4975 100%); }

.graph-container {
  display: inline-block;
  position: relative; }

.tooltip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
  width: 100%; }
  .tooltip p {
    text-align: center; }
  .tooltip .amount {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'QuicksandBold';
    line-height: 1.875rem;
    color: #BC9CFF;
    margin: -0.5625rem 0 -0.0625rem 0.1875rem; }
  .tooltip .item {
    font-weight: 300;
    font-family: 'MontserratBold';
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-align: center;
    text-transform: uppercase;
    color: #BC9CFF; }

.headerButtons {
  background: #fff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  height: 4.375rem;
  width: 100%;
  margin: 0px 0 0 0;
  display: flex;
  padding: 0.1875rem 0 0 0;
  box-sizing: border-box; }
  .headerButtons .wrapper {
    padding: 0.75rem 0 0 0; }

.wrapper {
  margin: 0 auto;
  width: 72.4375rem;
  display: flex;
  justify-content: space-between; }
  .wrapper .header__logo {
    display: inline; }
    .wrapper .header__logo img {
      max-width: 100%;
      max-height: 100%; }

.headerButtons__main {
  margin: 0 auto;
  min-width: 72.4375rem;
  display: flex;
  justify-content: space-between;
  padding: 0.6875rem 0.125rem 0 0; }

.header__nav-but-wrap {
  display: flex; }

.headerButtons__mainMenu {
  list-style: none;
  margin: 0.7rem 3rem 0 0rem;
  padding: 0; }
  .headerButtons__mainMenu li {
    display: inline-block;
    margin: 0 0 0 1.4375rem;
    position: relative; }
  .headerButtons__mainMenu li a {
    font-size: 0.875rem;
    color: rgba(31, 32, 65, 0.5); }
  .headerButtons__mainMenu li:nth-child(2) a::after {
    content: '';
    display: inline-block;
    width: 1.0625rem;
    height: 1.0625rem;
    background: url(./img/arrowDown.svg) no-repeat;
    position: absolute;
    top: -0.1875rem;
    left: 2.8rem;
    opacity: 0.5; }
  .headerButtons__mainMenu li:nth-child(5) a::after {
    content: '';
    display: inline-block;
    width: 1.0625rem;
    height: 1.0625rem;
    background: url(./img/arrowDown.svg) no-repeat;
    position: absolute;
    top: -0.1875rem;
    left: 5.6rem;
    opacity: 0.5; }
  .headerButtons__mainMenu li.active a {
    font-family: 'MontserratBold';
    color: rgba(31, 32, 65, 0.75); }

.headerButtons__buttons {
  position: relative;
  z-index: 0;
  padding: 0.6875rem 0 0 0; }
  .headerButtons__buttons a:nth-child(2) {
    margin: 0 0 0 1.3125rem; }

.btn {
  height: 2.125rem;
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'MontserratBold';
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 1.375rem; }

@media screen and (max-width: 1180px) {
  .wrapper {
    margin: 0 auto;
    width: auto;
    display: flex;
    justify-content: space-between; }
    .wrapper .header__logo {
      display: inline; }
      .wrapper .header__logo img {
        max-width: 100%;
        max-height: 100%; } }

@media screen and (max-width: 1180px) {
  .headerButtons {
    padding: 0.1875rem 15px 0 15px; } }

@media screen and (max-width: 850px) {
  .headerButtons {
    padding: 0.1875rem 0 24px 0;
    height: 100%; }
  .wrapper {
    flex-direction: column;
    align-items: center; }
    .wrapper .header__logo {
      align-self: center; }
  .header__nav-but-wrap {
    flex-direction: column; }
  .headerButtons__buttons {
    padding: 1rem 0 0 0;
    align-self: center; } }

@media screen and (max-width: 500px) {
  nav {
    text-align: center; } }

.footer-big {
  width: 100%;
  background: #fff;
  box-shadow: 0rem 0.0625rem 0rem rgba(31, 32, 65, 0.1);
  margin: 0px 0 0 0;
  padding: 100px 0 0rem 0rem;
  display: flex;
  position: relative;
  border: 0.0625rem solid #f4f4f6; }

.footer-big > .wrapper {
  flex-wrap: wrap; }

.footer-big__main {
  display: flex;
  padding: 0.0625rem 0 5.69rem 0;
  justify-content: space-between;
  width: 100%; }

.footer-big__logo {
  max-width: 16.25rem; }
  .footer-big__logo p {
    font-family: 'Montserrat';
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: rgba(31, 32, 65, 0.75);
    letter-spacing: -0.1008px;
    margin: 0.75rem 0 0 0; }

.footer-big__menus {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap; }

.footer-big__list {
  margin: 0 0rem 0 0; }
  .footer-big__list ul {
    margin: 0.625rem 0 0 0; }
  .footer-big__list li {
    line-height: 2.375rem; }

.footer-big__support {
  margin: 0 1.3125rem 0 2.0625rem; }

.footer-big__nav {
  margin: 0 0rem 0 0.5625rem; }

.footer-big__headline {
  font-family: 'MontserratBold';
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  text-transform: uppercase;
  color: #1F2041;
  margin: 0.28rem 0 0 0; }

.footer-big__subscribe p {
  margin: 1.25rem 0 0 0;
  line-height: 1.375rem; }

.footer-big__subscribe h3 {
  letter-spacing: -0.0375rem; }

.footer-big__copyright {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4.375rem; }
  .footer-big__copyright p {
    padding: 1.6875rem 0 0 0;
    letter-spacing: -0.0063rem;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    color: rgba(31, 32, 65, 0.75); }

.footer-big::after {
  width: 100%;
  content: '';
  display: block;
  position: absolute;
  height: 0.125rem;
  background: #f4f4f6;
  bottom: 4.375rem; }

.footer-big__social {
  padding: 1.5625rem 0 0 0; }

.footer-big__twitter,
.footer-big__facebook,
.footer-big__instagram {
  display: inline-block;
  width: 1.375rem;
  height: 1.375rem;
  background: url(./img/css_sprites.png) no-repeat;
  margin: 0 1.375rem 0 0; }

.footer-big__twitter {
  background: url(./img/css_sprites.png) no-repeat -0.625rem -3.25rem; }

.footer-big__facebook {
  background: url(./img/css_sprites.png) no-repeat -0.625rem -0.625rem; }

.footer-big__instagram {
  background: url(./img/css_sprites.png) no-repeat -3.25rem -0.625rem;
  margin: 0; }

@media screen and (max-width: 1180px) {
  .footer-big > .wrapper {
    padding: 20px 20px 10px 20px; } }

@media screen and (max-width: 850px) {
  .footer-big {
    padding: 0; }
  .footer-big__main {
    flex-wrap: wrap; }
  .footer-big__menus {
    order: 9;
    margin: 26px 0 0 0;
    justify-content: space-between; }
  .footer-big__subscribe {
    margin: 26px auto;
    text-align: center; }
    .footer-big__subscribe .formEmail {
      margin: 25px auto 0; }
  .footer-big__logo {
    text-align: center;
    max-width: 100%; } }

@media screen and (max-width: 550px) {
  .footer-big__menus {
    justify-content: space-around; }
  .footer-big > .wrapper {
    padding: 20px 20px 15px 20px; }
  .footer-big__copyright {
    flex-wrap: wrap;
    justify-content: center;
    height: 5rem; }
    .footer-big__copyright p {
      text-align: center;
      padding: 2rem 0 0 0; }
  .footer-big__social {
    padding: 0.563rem 0 0 0; } }

.roomFeature {
  width: 18.1875rem;
  margin: 1.5rem 0 0 0.3125rem;
  padding: 0 0 1.125rem 0rem;
  border-bottom: 0.0625rem solid rgba(31, 32, 65, 0.1); }
  .roomFeature img {
    position: absolute; }
  .roomFeature p {
    padding: 0 0 0.3125rem 3.375rem;
    margin: 0;
    color: rgba(31, 32, 65, 0.75); }
  .roomFeature .roomFeature__headline {
    font-family: 'MontserratBold'; }

.roomFeature:last-child {
  border: none; }

.my {
  box-sizing: border-box;
  border-radius: 0.625rem;
  border: 0.0625rem solid rgba(31, 32, 65, 0.25);
  display: inline-block;
  width: 2.5rem;
  height: 1.25rem;
  line-height: 1.0625rem;
  padding: 0 0.3125rem;
  position: relative;
  font-size: 0.625rem;
  text-decoration: none;
  background: #fff url(./img/like_border.svg) no-repeat 0.25rem 0.375rem; }

.my-counter:after {
  padding: 0 0.875rem;
  color: rgba(31, 32, 65, 0.25);
  content: attr(data-count);
  left: 10;
  /*   margin-left: 0.5rem;
margin-right: -0.8125rem; */
  position: absolute;
  top: 0.0625rem; }

.my {
  color: rgba(31, 32, 65, 0.25); }

.my:hover,
.my.active {
  background: #fff url(./img/like.svg) no-repeat 0.25rem 0.375rem;
  border: 0.0625rem solid #BC9CFF;
  color: #BC9CFF; }

.my:hover:after,
.my.active:after {
  color: #BC9CFF; }

.bulletList li {
  font-family: 'Montserrat';
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: rgba(31, 32, 65, 0.75);
  margin: 0 0 0.625rem 0.5rem;
  position: relative;
  padding: 0 0 0 0.75rem;
  width: 15rem; }

.bulletList li:before {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 0.625rem;
  background: rgba(31, 32, 65, 0.25);
  content: "";
  padding-right: 0px;
  display: inline-block;
  margin: 0 0.625rem 0 0;
  position: absolute;
  left: -0.5625rem;
  top: 0.4375rem; }

.review {
  display: flex;
  flex-direction: column;
  max-width: 44.375rem;
  margin: 0 0 1.4375rem 0; }
  .review .review__topBlock,
  .review .review__bottomBlock {
    display: flex; }
  .review .review__avatar {
    max-width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.125rem solid #fff;
    box-sizing: border-box;
    box-shadow: 0rem 0.625rem 1.25rem rgba(31, 32, 65, 0.1); }
  .review .review__name {
    margin: 0rem 0 0 0.625rem;
    font-family: 'Montserrat';
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: rgba(31, 32, 65, 0.75); }
    .review .review__name b {
      font-family: 'MontserratBold'; }
  .review .review__like {
    margin: 0.75rem 0 0 0.25rem; }
  .review .review__content {
    margin: 0.625rem 0 0 0.875rem;
    line-height: 1.5rem;
    color: rgba(31, 32, 65, 0.75); }

.card {
  width: 23.75rem;
  padding: 2.4375rem 1.875rem 1.875rem 1.875rem;
  background: #fff;
  border: 0.0625rem solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0rem 0rem 1.5625rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  z-index: 1; }
  .card h1 {
    font-family: 'MontserratBold';
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: #1F2041;
    margin: 0 0 1.25rem 0;
    letter-spacing: -0.025rem; }
  .card .btnBorder {
    margin: 0.125rem 0 0 2.25rem;
    width: 6rem;
    height: 2.5rem;
    box-sizing: border-box;
    display: inline-block;
    line-height: 1.625rem; }
  .card .haveAccount {
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #000; }

.roomDetail {
  height: 31.9375rem; }
  .roomDetail h3 {
    margin: 0 0 0.3125rem 0; }
  .roomDetail .roomDetail__price {
    margin: 0.5625rem -0.375rem 0rem 0rem; }
  .roomDetail .roomDetail__number {
    font-family: 'MontserratBold';
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: #1F2041;
    letter-spacing: -0.0625rem; }
  .roomDetail .roomDetail__num {
    font-size: 0.875rem;
    line-height: 1.0625rem;
    margin: 0 0.1875rem 0 0; }
  .roomDetail .roomDetail__lux {
    font-family: 'MontserratBold';
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: #BC9CFF; }
  .roomDetail .flex {
    justify-content: space-between;
    margin: 1.25rem 0 0 0; }
  .roomDetail .flex:first-child {
    justify-content: space-between;
    margin: 0; }
  .roomDetail .roomDetail__priceTable {
    border-collapse: collapse;
    margin: 1.3125rem 0 0 0; }
    .roomDetail .roomDetail__priceTable td {
      padding: 0 0 0.625rem 0;
      vertical-align: top;
      text-align: center; }
    .roomDetail .roomDetail__priceTable .circle {
      width: 1.25rem;
      height: 1.25rem;
      border: 0.0625rem solid rgba(31, 32, 65, 0.25);
      box-sizing: border-box;
      border-radius: 50%;
      display: inline-block; }
  .roomDetail .roomDetail__priceTable .roomDetail__rightCol {
    text-align: right;
    padding: 0 0 0 1.3125rem; }
  .roomDetail .roomDetail__priceTable .roomDetail__leftCol {
    text-align: left;
    width: 13.375rem;
    padding: 0 0.3125rem 0.9375rem 0; }
  .roomDetail .dropdownGuest {
    margin: 1.25rem 0 0 0; }
    .roomDetail .dropdownGuest input {
      margin: 0; }
  .roomDetail .roomDetail__total {
    font-family: 'MontserratBold';
    font-size: 1.1875rem;
    line-height: 1.5rem;
    color: #1F2041;
    margin: 0.625rem 0 0 0;
    margin: 0.9375rem 0 0 0;
    justify-content: space-between; }
  .roomDetail .roomDetail__borderDashed {
    border-bottom: 0.0625rem dashed rgba(31, 32, 65, 0.25);
    flex-grow: 1;
    height: 1.125rem;
    margin: 0 0.25rem; }
  .roomDetail .roomDetail__totalSum {
    letter-spacing: -0.0938rem; }
  .roomDetail .btnLong {
    margin: 1.25rem 0 0 0; }

@font-face {
  font-family: 'Montserrat';
  src: url(./fonts/montserrat-regular/montserrat-regular.eot);
  src: url(./fonts/montserrat-regular/montserrat-regular.woff) format("woff"), url(./fonts/montserrat-regular/montserrat-regular.ttf) format("truetype"), url(./fonts/montserrat-regular/montserrat-regular.svg) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MontserratBold';
  src: url(./fonts/montserrat-Bold/montserrat-Bold.eot);
  src: url(./fonts/montserrat-Bold/montserrat-Bold.woff) format("woff"), url(./fonts/montserrat-Bold/montserrat-Bold.ttf) format("truetype"), url(./fonts/montserrat-Bold/montserrat-Bold.svg) format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'quicksand';
  src: url(./fonts/Quicksand-regular/Quicksand-regular.eot);
  src: url(./fonts/Quicksand-regular/Quicksand-regular.woff) format("woff"), url(./fonts/Quicksand-regular/Quicksand-regular.ttf) format("truetype"), url(./fonts/Quicksand-regular/Quicksand-regular.svg) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'quicksandBold';
  src: url(./fonts/Quicksand-bold/Quicksand-bold.eot);
  src: url(./fonts/Quicksand-bold/Quicksand-bold.woff) format("woff"), url(./fonts/Quicksand-bold/Quicksand-bold.ttf) format("truetype"), url(./fonts/Quicksand-bold/Quicksand-bold.svg) format("svg");
  font-weight: normal;
  font-style: normal; }

.datepicker--cells {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.datepicker--cell {
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 40px;
  z-index: 1; }

.datepicker--cell.-focus- {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  color: #fff; }

.datepicker--cell.-current- {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 22px; }

.datepicker--cell.-current-.-focus- {
  color: #4a4a4a; }

.datepicker--cell.-current-.-in-range- {
  color: #4EB5E6; }

.datepicker--cell.-in-range- {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
  color: rgba(31, 32, 65, 0.5);
  border-radius: 0; }

.datepicker--cell.-in-range-.-focus- {
  background-color: rgba(92, 196, 239, 0.2); }

.datepicker--cell.-disabled- {
  cursor: default;
  color: #aeaeae; }

.datepicker--cell.-disabled-.-focus- {
  color: #aeaeae; }

.datepicker--cell.-disabled-.-in-range- {
  color: #a1a1a1; }

.datepicker--cell.-disabled-.-current-.-focus- {
  color: #aeaeae; }

.datepicker--cell.-range-from- {
  border: 1px solid rgba(92, 196, 239, 0.5);
  background-color: rgba(92, 196, 239, 0.1);
  border-radius: 22px; }

.datepicker--cell.-range-to- {
  border: 1px solid rgba(92, 196, 239, 0.5);
  background-color: rgba(92, 196, 239, 0.1);
  border-radius: 22px; }

.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-current- {
  color: #fff;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px; }

.datepicker--cell.-range-from-.-range-to- {
  border-radius: 22px; }

.datepicker--cell.-selected- {
  border: none; }

.datepicker--cell.-selected-.-range-from- {
  background: url(./img/Rectangle_2.png) no-repeat right, url(./img/Rectangle_1.png) no-repeat;
  border-radius: 0; }

.datepicker--cell.-selected-.-range-to- {
  background: url(./img/Rectangle_2.png) no-repeat left, url(./img/Rectangle_1.png) no-repeat;
  border-radius: 0; }

.datepicker--cell.-selected-.-focus- {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px; }

.datepicker--cell:empty {
  cursor: default; }

.datepicker--days-names {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 8px 0 11px; }

.datepicker--day-name {
  color: #BC9CFF;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  font-size: .8em;
  font-family: 'MontserratBold'; }

.-only-timepicker- .datepicker--content,
.datepicker--body,
.datepicker-inline .datepicker--pointer {
  display: none; }

.datepicker--cell-day {
  width: 14.28571%; }

.datepicker--cells-months {
  height: 170px; }

.datepicker--cell-month {
  width: 33.33%;
  height: 25%; }

.datepicker--cells-years,
.datepicker--years {
  height: 170px; }

.datepicker--cell-year {
  width: 25%;
  height: 33.33%; }

.datepickers-container {
  position: absolute;
  left: 0;
  top: 0; }

@media print {
  .datepickers-container {
    display: none; } }

.datepicker {
  background: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  width: 250px;
  position: absolute;
  left: -100000px;
  opacity: 0;
  transition: opacity .3s ease, left 0s .3s, -webkit-transform .3s ease;
  transition: opacity .3s ease, transform .3s ease, left 0s .3s;
  transition: opacity .3s ease, transform .3s ease, left 0s .3s, -webkit-transform .3s ease;
  z-index: 100;
  width: 320px;
  height: 369px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  padding: 11px 11px 0px 11px;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: rgba(31, 32, 65, 0.5); }

.datepicker.-from-top- {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px); }

.datepicker.-from-right- {
  -webkit-transform: translateX(8px);
  transform: translateX(8px); }

.datepicker.-from-bottom- {
  -webkit-transform: translateY(8px);
  transform: translateY(8px); }

.datepicker.-from-left- {
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px); }

.datepicker.active {
  opacity: 1;
  -webkit-transform: translate(0);
  transform: translate(0);
  transition: opacity .3s ease, left 0s 0s, -webkit-transform .3s ease;
  transition: opacity .3s ease, transform .3s ease, left 0s 0s;
  transition: opacity .3s ease, transform .3s ease, left 0s 0s, -webkit-transform .3s ease; }

.datepicker-inline .datepicker {
  border-color: #d7d7d7;
  box-shadow: none;
  position: static;
  left: auto;
  right: auto;
  opacity: 1;
  -webkit-transform: none;
  transform: none; }

.datepicker--content {
  box-sizing: content-box;
  padding: 27px 7px 0 9px; }

.datepicker--pointer {
  position: absolute;
  background: #fff;
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  width: 10px;
  height: 10px;
  z-index: -1; }

.datepicker--nav-action:hover,
.datepicker--nav-title:hover {
  background: #f0f0f0; }

.-top-center- .datepicker--pointer,
.-top-left- .datepicker--pointer,
.-top-right- .datepicker--pointer {
  top: calc(100% - 4px);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }

.-right-bottom- .datepicker--pointer,
.-right-center- .datepicker--pointer,
.-right-top- .datepicker--pointer {
  right: calc(100% - 4px);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg); }

.-bottom-center- .datepicker--pointer,
.-bottom-left- .datepicker--pointer,
.-bottom-right- .datepicker--pointer {
  bottom: calc(100% - 4px);
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg); }

.-left-bottom- .datepicker--pointer,
.-left-center- .datepicker--pointer,
.-left-top- .datepicker--pointer {
  left: calc(100% - 4px);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.-bottom-left- .datepicker--pointer,
.-top-left- .datepicker--pointer {
  left: 10px; }

.-bottom-right- .datepicker--pointer,
.-top-right- .datepicker--pointer {
  right: 10px; }

.-bottom-center- .datepicker--pointer,
.-top-center- .datepicker--pointer {
  left: calc(50% - 10px / 2); }

.-left-top- .datepicker--pointer,
.-right-top- .datepicker--pointer {
  top: 10px; }

.-left-bottom- .datepicker--pointer,
.-right-bottom- .datepicker--pointer {
  bottom: 10px; }

.-left-center- .datepicker--pointer,
.-right-center- .datepicker--pointer {
  top: calc(50% - 10px / 2); }

.datepicker--body.active {
  display: block; }

.datepicker--nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 32px;
  padding: 4px; }

.-only-timepicker- .datepicker--nav {
  display: none; }

.datepicker--nav-action,
.datepicker--nav-title {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'quicksandBold', sans-serif;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;
  font-weight: bold; }

.datepicker--nav-action {
  width: 32px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.datepicker--nav-action.-disabled- {
  visibility: hidden; }

.datepicker--nav-action svg {
  width: 32px;
  height: 32px; }

.datepicker--nav-action path {
  fill: none;
  stroke: #9c9c9c;
  stroke-width: 2px; }

.datepicker--nav-title {
  border-radius: 4px;
  padding: 0 8px; }

.datepicker--buttons,
.datepicker--time {
  padding: 12px 0 0 8px; }

.datepicker--nav-title i {
  font-style: normal; }

.datepicker--nav-title.-disabled- {
  cursor: default;
  background: 0 0; }

.datepicker--buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between; }

.datepicker--button {
  color: #4EB5E6;
  cursor: pointer;
  border-radius: 4px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 32px;
  font-family: 'MontserratBold';
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  width: 80px; }

.datepicker--button:hover {
  color: #4a4a4a; }

.datepicker--time {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }

.datepicker--time.-am-pm- .datepicker--time-sliders {
  -webkit-flex: 0 1 138px;
  -ms-flex: 0 1 138px;
  flex: 0 1 138px;
  max-width: 138px; }

.-only-timepicker- .datepicker--time {
  border-top: none; }

.datepicker--time-sliders {
  -webkit-flex: 0 1 153px;
  -ms-flex: 0 1 153px;
  flex: 0 1 153px;
  margin-right: 10px;
  max-width: 153px; }

.datepicker--time-label {
  display: none;
  font-size: 12px; }

.datepicker--time-current {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 14px;
  text-align: center;
  margin: 0 0 0 10px; }

.datepicker--time-current-colon {
  margin: 0 2px 3px;
  line-height: 1; }

.datepicker--time-current-hours,
.datepicker--time-current-minutes {
  line-height: 1;
  font-size: 19px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  position: relative;
  z-index: 1; }

.datepicker--time-current-hours:after,
.datepicker--time-current-minutes:after {
  content: '';
  background: #f0f0f0;
  border-radius: 4px;
  position: absolute;
  left: -2px;
  top: -3px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  opacity: 0; }

.datepicker--time-current-hours.-focus-:after,
.datepicker--time-current-minutes.-focus-:after {
  opacity: 1; }

.datepicker--time-current-ampm {
  text-transform: uppercase;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: #9c9c9c;
  margin-left: 6px;
  font-size: 11px;
  margin-bottom: 1px; }

.datepicker--time-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 11px;
  height: 17px;
  background: linear-gradient(to right, #dedede, #dedede) left 50%/100% 1px no-repeat; }

.datepicker--time-row:first-child {
  margin-bottom: 4px; }

.datepicker--time-row input[type=range] {
  background: 0 0;
  cursor: pointer;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none; }

.datepicker--time-row input[type=range]::-ms-tooltip {
  display: none; }

.datepicker--time-row input[type=range]:hover::-webkit-slider-thumb {
  border-color: #b8b8b8; }

.datepicker--time-row input[type=range]:hover::-moz-range-thumb {
  border-color: #b8b8b8; }

.datepicker--time-row input[type=range]:hover::-ms-thumb {
  border-color: #b8b8b8; }

.datepicker--time-row input[type=range]:focus {
  outline: 0; }

.datepicker--time-row input[type=range]:focus::-webkit-slider-thumb {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-color: #5cc4ef; }

.datepicker--time-row input[type=range]:focus::-moz-range-thumb {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-color: #5cc4ef; }

.datepicker--time-row input[type=range]:focus::-ms-thumb {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-color: #5cc4ef; }

.datepicker--time-row input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid #dedede;
  background: #fff;
  cursor: pointer;
  transition: background .2s;
  margin-top: -6px; }

.datepicker--time-row input[type=range]::-moz-range-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid #dedede;
  background: #fff;
  cursor: pointer;
  transition: background .2s; }

.datepicker--time-row input[type=range]::-ms-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid #dedede;
  background: #fff;
  cursor: pointer;
  transition: background .2s; }

.datepicker--time-row input[type=range]::-webkit-slider-runnable-track {
  border: none;
  height: 1px;
  cursor: pointer;
  color: transparent;
  background: 0 0; }

.datepicker--time-row input[type=range]::-moz-range-track {
  border: none;
  height: 1px;
  cursor: pointer;
  color: transparent;
  background: 0 0; }

.datepicker--time-row input[type=range]::-ms-track {
  border: none;
  height: 1px;
  cursor: pointer;
  color: transparent;
  background: 0 0; }

.datepicker--time-row input[type=range]::-ms-fill-lower {
  background: 0 0; }

.datepicker--time-row input[type=range]::-ms-fill-upper {
  background: 0 0; }

.datepicker--time-row span {
  padding: 0 12px; }

.datepicker--time-icon {
  color: #9c9c9c;
  border: 1px solid;
  border-radius: 50%;
  font-size: 16px;
  position: relative;
  margin: 0 5px -1px 0;
  width: 1em;
  height: 1em; }

.datepicker--time-icon:after,
.datepicker--time-icon:before {
  content: '';
  background: currentColor;
  position: absolute; }

.datepicker--time-icon:after {
  height: .4em;
  width: 1px;
  left: calc(50% - 1px);
  top: calc(50% + 1px);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%); }

.datepicker--time-icon:before {
  width: .4em;
  height: 1px;
  top: calc(50% + 1px);
  left: calc(50% - 1px); }

.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade- {
  color: #dedede; }

.datepicker--cell-day.-other-month-:hover,
.datepicker--cell-year.-other-decade-:hover {
  color: #c5c5c5; }

.-disabled-.-focus-.datepicker--cell-day.-other-month-,
.-disabled-.-focus-.datepicker--cell-year.-other-decade- {
  color: #dedede; }

.-selected-.datepicker--cell-day.-other-month-,
.-selected-.datepicker--cell-year.-other-decade- {
  color: #fff;
  background: #a2ddf6; }

.-selected-.-focus-.datepicker--cell-day.-other-month-,
.-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: #8ad5f4; }

.-in-range-.datepicker--cell-day.-other-month-,
.-in-range-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.1);
  color: #ccc; }

.-in-range-.-focus-.datepicker--cell-day.-other-month-,
.-in-range-.-focus-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.2); }

.datepicker--cell-day.-other-month-:empty,
.datepicker--cell-year.-other-decade-:empty {
  background: 0 0;
  border: none; }

span[data-action='apply'] {
  color: #BC9CFF;
  margin: 0 11px 0 0; }

@media screen and (max-width: 850px) {
  .datepicker--cell.-selected-.-range-from- {
    background: url(./img/Rectangle_2.png) no-repeat right, url(./img/Rectangle_1.png) no-repeat;
    background-size: auto, cover; }
  .datepicker--cell.-selected-.-range-to- {
    background: url(./img/Rectangle_2.png) no-repeat left, url(./img/Rectangle_1.png) no-repeat;
    background-size: auto, cover; } }

input[name='guest'] {
  height: 2.75rem;
  width: 20rem;
  border: 0.0625rem solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 0.25rem 0.25rem 0 0;
  padding: 0 1.5rem 0rem 0.9375rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin: 0 0 1.4375rem 0;
  color: rgba(31, 32, 65, 0.75);
  font-family: 'Montserrat';
  background: #fff url(./img/arrowDown.svg) 17.8125rem 0.5625rem no-repeat;
  text-overflow: ellipsis;
  outline: none;
  cursor: pointer; }

div.guest.parent {
  position: absolute;
  z-index: 1000;
  background: white;
  border: 0.0625rem solid rgba(31, 32, 65, 0.25);
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.175);
  padding: 0.25rem 0.3125rem 0.75rem 0.75rem;
  text-align: center;
  overflow: hidden;
  min-width: 20rem;
  box-sizing: border-box; }

div.guest.category {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

div.guest.room {
  height: 0.3125rem; }

div.guest.display {
  overflow: hidden;
  background: transparent;
  z-index: 999;
  position: absolute;
  border-radius: 0.125rem;
  padding: 0.3125rem 0.1563rem;
  box-sizing: border-box;
  align-items: center; }

div.guest.inlinedisplay {
  height: 100%;
  width: 625rem;
  margin: 0 0 0 0.3125rem; }

div.guest.displayelement:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

div.guest.displayelement {
  display: inline;
  background: #fff;
  color: rgba(31, 32, 65, 0.75);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 0 0rem 0 0;
  padding: 0.1563rem 0rem;
  box-sizing: border-box;
  line-height: 1.5rem;
  border-radius: 0.1563rem;
  font-size: 0.875rem; }

a.guest.close {
  opacity: 1;
  text-align: center;
  font-size: 0.875rem;
  margin: 0.3125rem;
  text-decoration: underline; }

div.guest.name {
  font-size: 1rem;
  float: left; }

div.guest.value {
  font-size: 1rem; }

div.guest.text {
  clear: both;
  display: inline-block;
  padding: 0.4375rem 0 0rem 0;
  margin: 0 0 0.9375rem 0; }

div.guest.name, a.guest.close, div.guest.value {
  font-family: 'MontserratBold';
  color: #1F2041;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 0.9375rem; }

div.guest.buttons {
  display: flex;
  width: 5.75rem;
  justify-content: space-between;
  align-items: center; }

a.guest.button {
  color: rgba(31, 32, 65, 0.5);
  text-decoration: none;
  width: 1.875rem;
  height: 1.875rem;
  display: inline-block;
  text-align: center;
  background: #fff;
  border: 0.0625rem solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 1.375rem;
  box-sizing: border-box;
  font-weight: 700;
  line-height: 1.875rem; }

a.guest.button.inactive {
  background: #fff;
  opacity: 0.38; }

.NCSG.reset {
  float: left;
  padding: 0.875rem 0 0 0.125rem;
  font-family: 'MontserratBold';
  font-size: 0.75rem;
  line-height: 0.9375rem;
  text-transform: uppercase; }

.NCSG.close {
  float: right;
  padding: 0.875rem 0 0 0;
  font-family: 'MontserratBold';
  font-size: 0.75rem;
  line-height: 0.9375rem;
  text-transform: uppercase;
  color: #BC9CFF; }

.rating {
  overflow: hidden;
  vertical-align: bottom;
  display: inline-block;
  width: 7.5rem;
  height: 1.5rem; }
  .rating input {
    opacity: 0;
    margin-right: -100%; }
  .rating label {
    position: relative;
    display: block;
    float: right;
    opacity: 1; }
  .rating label:before {
    font-family: 'Material Icons';
    font-size: 1.5rem;
    display: block;
    opacity: 1;
    content: '\e83a';
    transition: opacity 0.2s linear;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    color: transparent; }

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating:not(:hover) > :checked ~ label:before {
  opacity: 1;
  font-family: 'Material Icons';
  font-size: 1.5rem;
  display: block;
  content: '\e838';
  transition: opacity 0.2s linear;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  color: transparent; }

.btnBorder {
  position: relative;
  color: #BC9CFF;
  padding: 0.55em 1.5em;
  background: #fff; }

.btnBorder::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -0.125rem;
  right: -0.125rem;
  bottom: -0.125rem;
  left: -0.125rem;
  border-radius: 1.375rem;
  background: linear-gradient(to bottom, #BC9CFF, #8BA4F9); }

.btnBorder:hover::before,
.btnBorder:active::before {
  opacity: 0.5; }

.dataDropdown input {
  width: 9.375rem;
  height: 2.75rem;
  border: 0.0625rem solid rgba(31, 32, 65, 0.25);
  border-radius: 0.25rem;
  padding: 0rem 0rem 0.0625rem 0.875rem;
  font-family: 'Montserrat';
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: rgba(31, 32, 65, 0.75);
  background: #fff url(./img/arrowDown.svg) no-repeat 7.125rem 0.6875rem;
  box-sizing: border-box; }

.cardSmall {
  width: 16.875rem;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0rem 0.625rem 1.25rem rgba(31, 32, 65, 0.05);
  border-radius: 0.25rem;
  z-index: 1; }

.roomSlider {
  padding: 0;
  margin: 1.3125rem 0 0 0; }
  .roomSlider a {
    display: block; }
  .roomSlider .roomSlider__priceHeadline {
    margin: 1.25rem 0 0 1.25rem;
    justify-content: space-between; }
  .roomSlider .roomSlider__price {
    margin: 0.1875rem 0.625rem 0rem 0rem; }
  .roomSlider .roomSlider__number {
    font-family: 'MontserratBold';
    font-size: 1.1875rem;
    line-height: 1.5rem;
    color: #1F2041;
    letter-spacing: -0.0625rem; }
  .roomSlider .roomSlider__num {
    font-size: 0.875rem;
    line-height: 1.0625rem;
    margin: 0 0.1875rem 0 0; }
  .roomSlider .roomSlider__lux {
    font-family: 'MontserratBold';
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: #BC9CFF; }
  .roomSlider .roomSlider__rating {
    margin: 1.125rem 0 0.9375rem 0;
    justify-content: space-between; }
  .roomSlider .rating {
    margin: 0rem 0 0 1.25rem; }
  .roomSlider .roomSlider__reviewsAmount {
    font-family: 'Montserrat';
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-align: right;
    color: rgba(31, 32, 65, 0.5);
    margin: 0.3125rem auto; }
    .roomSlider .roomSlider__reviewsAmount b {
      font-family: 'MontserratBold'; }

.btnFill {
  padding: 0.625rem 1.1875rem; }

.btnFill:hover,
.btnFill:active {
  opacity: 0.5; }

.btnLong {
  width: 20rem;
  height: 2.75rem;
  display: inline-block;
  text-align: center;
  background: url(./img/arrow_forward.png) no-repeat right 13px center, linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  padding: 0.9375rem 0 0 0; }
  .btnLong:hover, .btnLong:active {
    opacity: 0.5; }

@media screen and (max-width: 550px) {
  .btnLong {
    width: 17rem; } }

.formEmail {
  width: 260px;
  height: 44px;
  border: 0.0625rem solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 0.25rem;
  background: #fff;
  margin: 25px 0 0 0; }
  .formEmail input[type="email"] {
    border: none;
    padding: 0rem  0 4px 15px;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    outline: none;
    vertical-align: middle;
    font-family: 'Montserrat'; }
  .formEmail input:focus::placeholder {
    color: rgba(31, 32, 65, 0); }
  .formEmail input[type="submit"] {
    background: url(./img/arrowInput.svg) no-repeat;
    border: none;
    outline: none;
    margin: 0.8125rem 0 0 0.6875rem;
    width: 1.125rem;
    height: 1.125rem; }
  .formEmail input[type="submit"]:hover {
    cursor: pointer; }

.textfield {
  width: 20rem;
  height: 2.75rem;
  background: #fff;
  border: 0.0625rem solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 0.25rem;
  font-family: 'Montserrat';
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: rgba(31, 32, 65, 0.25);
  padding: 0 0 0 0.9375rem; }

.textfield:hover,
.textfield:focus {
  border: 0.0625rem solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.75); }

.textfield:focus::placeholder {
  opacity: 0; }

